body {
  background: #ffe6f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px #999;
}

input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #e91e63;
}

p { margin-top: 15px; }
